{% extends "welcome.twig" %}

{% block body %}
<label id="AccountNaam" for="Textvak"></label>
<input id="Accountnaam" type="textvak">
<label id="Wachtwoord" for="Textvak"></label>
<input id="Wachtwoord" type="textvak">

<label id="Login" for="Button"></label>
<input id="Login" type="button">

{% endblock %}