<nav class="fixed z-50 w-full nav-bar md:bg-white bg-primary">
    <div class="nav-icon-bg max-md:hidden bg-primary h-16 w-36 lg:w-1/12 2xl:w-1/5 3xl:w-[27vw] absolute -z-10">
    </div>
    <div class="max-w-7xl mx-auto px-6">
        <div class="flex justify-between">
            <div class="flex justify-between w-full space-x-7">
                <!-- Website Logo -->
                <div class="flex">
                    <a href="./index.php" class="flex items-center py-4 px-2 link bg-primary">
                        <img src="../img/logo-klein.png" alt="Logo" class="h-8 w-auto mr-2">
                    </a>
                    <div class="nav-icon-triangle max-md:hidden bg-primary h-16 w-20 -ml-0.5 "></div>
                </div>
                <!-- Primary Navbar items -->
                <div class="hidden md:flex items-center gap-4 space-x-1">
                    <a href="./index.php" class="nav-text-desktop hover:text-primary">HOME</a>
                    <a href="./nieuws.php" class="nav-text-desktop hover:text-primary">NIEUWS</a>
                    <a href="./rooster.php" class="nav-text-desktop hover:text-primary">ROOSTER</a>
                    <a href="./inschrijfen.php" class="nav-text-desktop hover:text-primary">INSCHRIJVEN</a>
                    <a href="./info.php" class="nav-text-desktop hover:text-primary">OVER ONS</a>
                </div>
            </div>
            <!-- Mobile menu button -->
            <div class="md:hidden flex items-center">
                <div class="burger mobile-menu-button">
                    <div id="l1" class="bg-white hover:text-gray"></div>
                    <div id="l2" class="bg-white hover:text-gray"></div>
                    <div id="l3" class="bg-white hover:text-gray"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile menu -->
    <div class="h-0 mobile-menu shadow-md overflow-hidden">
        <ul class="">
            <li><a href="./index.php" class="nav-text-mobile link text-white px-2 py-2 hover:text-primary">HOME</a></li>
            <li><a href="./nieuws.php" class="nav-text-mobile link text-white px-2 py-2 hover:text-primary">NIEUWS</a>
            </li>
            <li><a href="./rooster.php" class="nav-text-mobile link text-white px-2 py-2 hover:text-primary">ROOSTER</a>
            </li>
            <li><a href="./inschrijven.php"
                    class="nav-text-mobile link text-white px-2 py-2 hover:text-primary">INSCHRIJVEN</a></li>
            <li><a href="./about.php" class="nav-text-mobile link text-white px-2 py-2 hover:text-primary">OVER ONS</a>
            </li>
        </ul>
    </div>
</nav>