@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.toggle #l1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle #l2 {
    opacity: 0;
}

.toggle #l3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-icon-triangle {
    clip-path: polygon(0 0, 100% 0, 11% 100%, 0% 100%);
}

.green{
    clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
}

.container-rooster{
    padding-top: 10rem;
}